@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes: light --default
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #3B82F6;
  --color-secondary: #1E293B;
  --color-accent: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
}